<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nlscan.upgradebadge"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|keyboard|orientation|navigation"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.nlscan.upgradeBadge" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FileBrowserActivity"
            android:configChanges="keyboardHidden|keyboard|orientation|navigation"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".SerialConsoleActivity"
            android:configChanges="keyboardHidden|keyboard|orientation|navigation"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ota.dfu.DfuActivity"
            android:configChanges="keyboardHidden|keyboard|orientation|navigation"
            android:screenOrientation="landscape"/>

        <service
            android:name=".ota.dfu.DfuService"
            android:exported="true"
            android:label="@string/dfu_service_title" >
            <intent-filter>
                <action android:name="no.nordicsemi.android.action.DFU_UPLOAD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>